<div class="card hoverable">
    <div class="card-content">
        <span class="card-title"><strong>My Information:</strong></span>

         <p>Sought after profession:</p>
        <div class="input-field">
            <input id="sought-prof-val" type="text"  class="validate">
            <label for="sought-prof"></label>
            <a class="button-opacity btn ttbutton tooltipped red" data-position="bottom"
                data-tooltip="TIP: narrow down what job title you are applying for">?</a>
            <a class="button-opacity btn ttbutton tooltipped" data-position="left"
                data-tooltip="'Junior Web Developer'">EXAMPLE</a>
        </div>
        
        <p>Professional Summary:</p>
        <div class="input-field">
            <input id="prof-summary-val" type="text" class="validate">
            <label for="prof-summary"></label>
            <a class="button-opacity btn ttbutton tooltipped red" data-position="bottom"
                data-tooltip="TIP: Sum up your top skills, experiences, and achievements as they pertain to a job opening.">?</a>
            <a class="button-opacity btn ttbutton tooltipped" data-position="left"
                data-tooltip="'Hard-working customer service agent with 7+ years of experience and solid telesales skills. Seeking improve customer retention at F.L.T. Maddox.'">EXAMPLE</a>
        </div>


        <p>Education:</p>
        <div class="input-field">
            <input id="education-val" type="text" class="validate">
            <label for="education"></label>
            <a class="button-opacity btn ttbutton tooltipped red" data-position="bottom"
                data-tooltip="TIP: Name the institution you attended and the certification you recieved there.">?</a>
            <a class="button-opacity btn ttbutton tooltipped" data-position="left"
                data-tooltip="'UNIVERSITY OF PENNSYLVANIA | Bachelor's Degree in Communication Studies'">EXAMPLE</a>
        </div>

        <p>Relevant Skills:</p>
        <div class="input-field">
            <input id="skill1-val" type="text" class="validate">
            <label for="skill1"></label>
        </div>
        <div class="input-field">
            <input id="skill2-val" type="text" class="validate">
            <label for="skill2"></label>
        </div>
        <div class="input-field">
            <input id="skill3-val" type="text" class="validate">
            <label for="skill3"></label>
        </div>
        <a class="button-opacity btn ttbutton tooltipped red" data-position="top"
            data-tooltip="TIP: Identify your best skills and strengths relevant to the job.">?</a>
        <a class="button-opacity btn ttbutton tooltipped" data-position="bottom"
            data-tooltip="'Programming languages such as: Python, Javascript, and HTML5.'">EX: 1</a>
        <a class="button-opacity btn ttbutton tooltipped" data-position="left"
            data-tooltip="'Effective communication skills from 5+ years of customer service.'">EX: 2</a>
    </div>
    <br>
    <div class="card-action">
        <button class="btn cyan darken-4 waves-effect waves-red" id="finishBtn">Update and Save Information</button>
    </div>
    
</div>

