<div class="card">
    <div class="card-content">
        <span class="card-title">My Information:</span>

        <p>Job Title:</p>
        <div class="input-field">

            <input id="job-title" type="text" class="validate">
            <label for="job-title">Edit Job Title:</label>
        </div>
        <p>Education:</p>
        <div class="input-field">
            <input id="education-input" type="text" class="validate">
            <label for="education">Edit Education:</label>
        </div>

        <p>Job History:</p>
        <div class="input-field">
            <input id="job-history" type="text" class="validate">
            <label for="job-history">Edit Job History:</label>
        </div>

        <p>Relevant Skills:</p>
        <div class="input-field">
            <input id="relevant-skills" type="text" class="validate">
            <label for="education">Edit Relevant Skills:</label>
        </div>

        <p>References:</p>
        <div class="input-field">
            <input id="references-input" type="text" class="validate">
            <label for="references">Edit References:</label>
        </div>
    </div>
    <div class="card-action">
        <button class="btn indigo" id="finishBtn">Update and Save Information</button>
    </div>
</div>