<div class="card">
    <div class="card-content">
        <span class="card-title">Job History:</span>
        {{!-- JOB 1 --}}
        <p>Job 1 Title:</p>
        <div class="input-field">

            <input id="job1-title" type="text" class="validate">
            <label for="job1-title">Edit Job Title:</label>
        </div>
        <p>Dates of Employmemt:</p>
        <div class="input-field">
            <input id="employment1-dates" type="text" class="validate">
            <label for="employment1-dates">Edit Dates of Employment:</label>
        </div>

        <p>Employer:</p>
        <div class="input-field">
            <input id="employer1" type="text" class="validate">
            <label for="employer1">Edit Employer:</label>
        </div>

        <p>Job Duties:</p>
        <div class="input-field">
            <input id="job1-duties" type="text" class="validate">
            <label for="job1-duties">Edit Job Duties:</label>
        </div>
        <hr>
        {{!-- JOB 2 --}}
        <p>Job 2 Title:</p>
        <div class="input-field">

            <input id="job2-title" type="text" class="validate">
            <label for="job2-title">Edit Job Title:</label>
        </div>
        <p>Dates of Employmemt:</p>
        <div class="input-field">
            <input id="employment2-dates" type="text" class="validate">
            <label for="employment2-dates">Edit Dates of Employment:</label>
        </div>

        <p>Employer:</p>
        <div class="input-field">
            <input id="employer2" type="text" class="validate">
            <label for="employer2">Edit Employer:</label>
        </div>

        <p>Job Duties:</p>
        <div class="input-field">
            <input id="job2-duties" type="text" class="validate">
            <label for="job2-duties">Edit Job Duties:</label>
        </div>
    </div>
    <div class="card-action">
        <button class="btn indigo" id="finishJobBtn">Update and Save Information</button>
    </div>
</div>