<div class="card hoverable">
    <div class="card-content">
        <span class="card-title"><strong>Job History:</strong></span>
        {{!-- JOB 1 --}}
        <p>Job 1 Title:</p>
        <div class="input-field">

            <input id="job1-title" type="text" class="validate">
            <label for="job1-title">Edit Job Title:</label>
            <a class="button-opacity btn ttbutton tooltipped red" data-position="bottom" data-tooltip="TIP: Name the position you held">?</a>
            <a class="button-opacity btn ttbutton tooltipped" data-position="left" data-tooltip="'Sales Representative'">EXAMPLE</a>
        </div>
        <p>Dates of Employmemt:</p>
        <div class="input-field">
            <input id="employment1-dates" type="text" class="validate">
            <label for="employment1-dates">Edit Dates of Employment:</label>
            <a class="button-opacity btn ttbutton tooltipped red" data-position="bottom"
                data-tooltip="TIP: How long did you work here for?">?</a>
            <a class="button-opacity btn ttbutton tooltipped" data-position="left" data-tooltip="'March 2011 - July 2016'">EXAMPLE</a>
        </div>

        <p>Employer:</p>
        <div class="input-field">
            <input id="employer1" type="text" class="validate">
            <label for="employer1">Edit Employer:</label>
            <a class="button-opacity btn ttbutton tooltipped red" data-position="bottom"
                data-tooltip="TIP: This is the name of the last company you worked for.">?</a>
            <a class="button-opacity btn ttbutton tooltipped" data-position="left" data-tooltip="'Aeterna Laboratories Inc.'">EXAMPLE</a>
        </div>

        <p>Job Duties:</p>
        <div class="input-field">
            <input id="job1-duties" type="text" class="validate">
            <label for="job1-duties">Edit Job Duties:</label>
            <a class="button-opacity btn ttbutton tooltipped red" data-position="bottom"
                data-tooltip="TIP: What were your daily tasks at this job? List everything your job entailed.">?</a>
            <a class="button-opacity btn ttbutton tooltipped" data-position="left"
                data-tooltip="'Providing the practice owners with daily and weekly reports on the practices, progress, and shortcomings. Dealing with incoming queries from clients in an orderly, efficient manner. Ensuring that all the staff have a performance plan with objectives which are reguarly reviewed. Training an developing the practice team.'">EXAMPLE</a>
        </div>
        <br>
        <br>
        {{!-- JOB 2 --}}
        <p>Job 2 Title:</p>
        <div class="input-field">

            <input id="job2-title" type="text" class="validate">
            <label for="job2-title">Edit Job Title:</label>
            <a class="button-opacity btn ttbutton tooltipped red" data-position="bottom"
                data-tooltip="TIP: For those without much work experience, think about volunteer work or internships.">?</a>
            <a class="button-opacity btn ttbutton tooltipped" data-position="left"
                data-tooltip="'Volunteer at Sunday Breakfast Rescue Mission'">EXAMPLE</a>
        </div>
        <p>Dates of Employmemt:</p>
        <div class="input-field">
            <input id="employment2-dates" type="text" class="validate">
            <label for="employment2-dates">Edit Dates of Employment:</label>
            <a class="button-opacity btn ttbutton tooltipped red" data-position="bottom"
                data-tooltip="TIP: How long did you perform this duty?">?</a>
            <a class="button-opacity btn ttbutton tooltipped" data-position="left" data-tooltip="'March 2011 - July 2016'">EXAMPLE</a>
        </div>

        <p>Employer:</p>
        <div class="input-field">
            <input id="employer2" type="text" class="validate">
            <label for="employer2">Edit Employer:</label>
        </div>

        <p>Job Duties:</p>
        <div class="input-field">
            <input id="job2-duties" type="text" class="validate">
            <label for="job2-duties">Edit Job Duties:</label>
        </div>
    </div>
    <div class="card-action">
        <button class="btn cyan darken-4 waves-effect waves-red" id="finishJobBtn">Update and Save Information</button>
    </div>
</div>