<div class="card">
    <div class="card-content">
        <span class="card-title">Job History:</span>
        <p>Job Title:</p>
        <p>Dates of Employment:</p>
        <p>Employer:</p>
        <p>Job Duties:</p>
        <hr>
        <p>Job Title:</p>
        <p>Dates of Employment:</p>
        <p>Employer:</p>
        <p>Job Duties:</p>
    </div>
    <div class="card-action">
        <button class="btn indigo" id="editJobBtn">Edit/Update Information</button>

    </div>
</div>