<div class="card hoverable">
     <div class="card-image">
          <img src="/images/marten-bjork-6dW3xyQvcYE-unsplash.jpg">
          <span id="job-history-title" class="card-title">Job History</span>
    </div>
    <div class="card-content">
        <p ><strong>Job Title:</strong><span id="jtitleOne"></span></p>
        <p ><strong>Dates of Employment:</strong><span id="datesOne"></span></p>
        <p ><strong>Employer:</strong><span id="employOne"></span></p>
        <p ><strong>Job Duties:</strong><span id="jDutiesOne"></span></p>
        <hr>
        <p ><strong>Job Title:</strong><span id="jtitletwo"></span></p>
        <p ><strong>Dates of Employment:</strong><span id="datesTwo"></span></p>
        <p ><strong>Employer:</strong><span id="employTwo"></span></p>
        <p ><strong>Job Duties:</strong><span id="jDutiesTwo"></span></p>
    </div>
    <div class="card-action">
        <button class="btn cyan darken-4 waves-effect waves-red" id="editJobBtn">Edit/Update Information</button>

    </div>
</div>