<div class="card hoverable">
     <div class="card-image">
          <img src="/images/marten-bjork-6dW3xyQvcYE-unsplash.jpg">
          <span id="job-history-title" class="card-title">Job History</span>
    </div>
    <div class="card-content">
        <p><strong>Job Title:</strong></p>
        <p><strong>Dates of Employment:</strong></p>
        <p><strong>Employer:</strong></p>
        <p><strong>Job Duties:</strong></p>
        <hr>
        <p><strong>Job Title:</strong></p>
        <p><strong>Dates of Employment:</strong></p>
        <p><strong>Employer:</strong></p>
        <p><strong>Job Duties:</strong></p>
    </div>
    <div class="card-action">
        <button class="btn cyan darken-4" id="editJobBtn">Edit/Update Information</button>

    </div>
</div>