<div class="card hoverable">
     <div class="card-image">
          <img src="/images/work1.jpg">
          <span id="my-info-title" class="card-title">Job History</span>
    </div>
    <div class="card-content">
        <p>Job Title:</p>
        <p>Dates of Employment:</p>
        <p>Employer:</p>
        <p>Job Duties:</p>
        <hr>
        <p>Job Title:</p>
        <p>Dates of Employment:</p>
        <p>Employer:</p>
        <p>Job Duties:</p>
    </div>
    <div class="card-action">
        <button class="btn cyan darken-4" id="editJobBtn">Edit/Update Information</button>

    </div>
</div>