<div class="card" id="resumeTemplate">
    <div class="card-content">
        <h3 class="card-title" id="titleName"><span id="firstName"></span><span id="lastName"></span></span><span
                class="card-title" id="resName"></h3>
        <hr>
        <div class="row">
            <div class="col s4">
                <span class="card-title res-title" id="contactInfo"><strong>CONTACT INFO</strong></span>
                <hr class="titleHR">
                <p><strong>EMAIL: </strong><span id="userEmail"></span></p>
                <br>
                <p><strong>LOCATION: </strong><span id="location"></span></p>
                <hr class="resHR">
                <span class="card-title res-title"><strong>EDUCATION</strong></span>
                <hr class="titleHR">
                <p><span id="education"></span></p>
                <hr class="resHR">
                <span class="card-title res-title"><strong>RELEVANT SKILLS</strong></span>
                <hr class="titleHR">
                <ul>
                    <li class="skillsList">Skill 1: <span id="skill1"></span></li>
                    <li class="skillsList">Skill 2: <span id="skill2"></span> </li>
                    <li class="skillsList">Skill 3: <span id="skill3"></span> </li>
                </ul>

            </div>
            <div class="col s8">
                <h4 class="card-title res-title">PROFILE</h4>
                <hr class="titleHR">
                <p id="profSumm">
                </p>
                <hr class="resHR">
                <span class="card-title res-title"><strong>WORK EXPERIENCE</strong></span>
                <hr class="titleHR">
                <p class="jobTitle"><i><strong id="jtitleOne"></strong></i> | <span id="employOne"></span></p>
                <p class="dOfEmp"><strong>Dates of Employment:</strong> <span id="datesOne"></span></p>
                <p><strong>JOB DUTIES:</strong> <span id="jDutiesOne"></span>.</p>
                <br>
                <p class="jobTitle"><i><strong id="jtitleTwo"></strong></i> | <span id="employTwo"></span></p>
                <p class="dOfEmp"><strong>Dates of Employment:</strong> <span id="datesTwo"></span></p>
                <p><strong>JOB DUTIES:</strong><span id="jDutiesTwo"></span>.</p>
                <br>
            </div>
        </div>
    </div>
</div>