<div class="card" id="resumeTemplate">
    <div class="card-content">
        <span class="card-title" id="titleName">Firstname Lastname</span><span class="card-title" id="resName">seeking
            professional job title</span>
        <hr>
        <div class="row">
            <div class="col s4">
                <span class="card-title res-title" id="contactInfo">CONTACT INFO</span>
                <hr class="titleHR">
                <p><strong>EMAIL: </strong>email@email.com</p>
                <br>
                <p><strong>LOCATION: </strong>Philadelphia, PA</p>
                <hr class="resHR">
                <span class="card-title res-title">EDUCATION</span>
                <hr class="titleHR">
                <p>Bachelor's Degree in Communication Studies at Blah University</p>
                <hr class="resHR">
                <span class="card-title res-title">RELEVANT SKILLS</span>
                <hr class="titleHR">
                <ul>
                    <li class="skillsList">• Skill 1 Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi.</li>
                    <li class="skillsList">• Skill 2 Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi.</li>
                    <li class="skillsList">• Skill 3 Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi.</li>
                </ul>

            </div>
            <div class="col s8">
                <span class="card-title res-title">PROFILE</span>
                <hr class="titleHR">
                <p id="profSum"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <hr class="resHR">
                <span class="card-title res-title">WORK EXPERIENCE</span>
                <hr class="titleHR">
                <p class="jobTitle"><strong>Job Title 1</strong> | Employer Company</p>
                <p class="dOfEmp">Dates of Employment</p>
                <p id="jDuties">JOB DUTIES Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</p>
                <br>
                <p class="jobTitle"><strong>Job Title 2</strong> | Employer Company</p>
                <p class="dOfEmp">Dates of Employment</p>
                <p>JOB DUTIES Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>