<div class="card">
    <div class="card-content">
        <span class="card-title">My Information:</span>
        <p>Job Title:</p>
        <hr>
        <p>Professional Summary:</p>
        <hr>
        <p>Education:</p>
        <hr>
        <p>Relevant Skills:</p>
        <ul>
            <li>1:</li>
            <li>2:</li>
            <li>3</li>
        </ul>
    </div>
    <div class="card-action">
        <button class="btn indigo" id="editBtn">Edit/Update Information</button>

    </div>
</div>