<div class="card hoverable">
    <div class="card-image">
          <img src="/images/danielle-macinnes-IuLgi9PWETU-unsplash.jpg">
          <span id="my-info-title" class="card-title">My Information:</span>
    </div>
    <div id="myInfo" class="card-content">
        <p><strong>Job Title:</strong></p>
        <hr>
        <p><strong>Professional Summary:</strong></p>
        <hr>
        <p><strong>Education:</strong></p>
        <hr>
        <p><strong>Relevant Skills:</strong></p>
        <ul>
            <li><strong>1:</strong></li>
            <li><strong>2:</strong></li>
            <li><strong>3</strong></li>
        </ul>
    </div>
    <div class="card-action">
        <button class="btn cyan darken-4" id="editBtn">Edit/Add Information</button>

    </div>
</div>