<div class="card">
    <div class="card-content">
        <span class="card-title">My Information:</span>
        <p>Job Title:</p>
        <hr>
        <p>Education:</p>
        <hr>
        <h6>Relevant Skills</h6>
        <ul>
            <li><p>Skill 1:</p></li>
            <hr>
            <li><p>Skill 2:</p></li>
            <hr>
            <li><p>Skill 3:</p></li>
            <hr>
        </ul>
        <hr>
    </div>
    <div class="card-action">
        <button class="btn indigo" id="editBtn">Edit/Add Information</button>

    </div>
</div>