<div class="card hoverable">
    <div class="card-image">
          <img src="/images/danielle-macinnes-IuLgi9PWETU-unsplash.jpg">
          <span id="my-info-title" class="card-title">My Information:</span>
    </div>
    <div id="myInfo" class="card-content">
        <p><strong>Professional Summary:</strong><span id="profSumm"></span></p>
        <hr>
        <p><strong>Education:</strong><span id="education"></span></p>
        <hr>
        <p><strong>Relevant Skills:</strong></p>
        <ul>
            <li><strong>1:</strong><span id="skill1"></span></li>
            <li><strong>2:</strong><span id="skill2"></span></li>
            <li><strong>3</strong><span id="skill3"></span></li>
        </ul>
    </div>
    <div class="card-action">
        <button class="btn cyan darken-4 waves-effect waves-red" id="editBtn">Edit/Add Information</button>

    </div>
</div>
<script src="/js/resumeInput.js"></script>