<div class="card hoverable">
    <div class="card-image">
          <img src="/images/keyboard1.jpg">
          <span id="my-info-title" class="card-title">My Information:</span>
    </div>
    <div id="myInfo" class="card-content">
        <p>Professional Summary:</p>
        <hr>
        <p>Education:</p>
        <hr>
        <p>Relevant Skills:</p>
        <ul>
            <li>1:</li>
            <li>2:</li>
            <li>3</li>
        </ul>
    </div>
    <div class="card-action">
        <button class="btn cyan darken-4" id="editBtn">Edit/Add Information</button>

    </div>
</div>