<!DOCTYPE html>
<html lang="en">

<head>
    <title>Simple Resume Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Cinzel:wght@600&family=Montserrat+Subrayada&family=Tauri&display=swap" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</head>

<body>
    {{{ body }}}
    <br>
    <footer>
        <div class="container">

            <small>Copyright &copy; 2020</small>
        </div>
    </footer>
</body>

</html>