<ul id="dropdown1" class="dropdown-content">
  <li><a class="waves-effect waves-red" href="/logout">Logout</a></li>
  <li><a class="waves-effect waves-red" href="/members">Dashboard</a></li>
  {{!-- <li><a href="#!">three</a></li> --}}
</ul>
<nav>
  <div class="nav-wrapper cyan darken-4">
    <img id="nav-logo-image" src="/images/logoTwoColor.png">
    <a href="/members" id="nav-title" class="brand-logo"> Simple Resume</a>
    <ul id="nav-mobile" class="right ">
      <li><a class="hide-on-small-only" href="/members">Dashboard</a></li>
      <li><a class="hide-on-small-only" href="/logout">Logout</a></li>
      <li><a class="dropdown-trigger hide-on-med-and-up" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right"></i></a></li>
    </ul>
  </div>
</nav>

<script type="text/javascript">
  $(document).ready(() => {
    $(".dropdown-trigger").dropdown();
  });

</script>