<nav>
  <div class="nav-wrapper indigo">
    <a href="#" class="brand-logo">Simple Resume Generator</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="" href="/members">Dashboard</a></li>
      <li><a class="" href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>