<ul id="dropdown1" class="dropdown-content">
  <li><a class="waves-effect waves-red" href="/logout">Logout</a></li>
  <li><a class="waves-effect waves-red" href="/members">Dashboard</a></li>
  {{!-- <li><a href="#!">three</a></li> --}}
</ul>
<nav>
  <div class="nav-wrapper cyan darken-4">

    <img id="nav-logo-image" src="/images/logoTwoColor.png">
    <a href="/members" id="nav-title" class="brand-logo"> Simple Resume</a>
    <ul id="nav-mobile" class="right ">
      <li><a class="hide-on-small-only" href="/members">Dashboard</a></li>
      <li><a class="hide-on-small-only" href="/logout">Logout</a></li>
      <li><a class="dropdown-trigger hide-on-med-and-up" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right"></i></a></li>
    </ul>
  </div>
</nav>

<div class="parallax-container">
    <div class="parallax"><img src="/images/andrew-neel-cckf4TsHAuw-unsplash.jpg"></div>
</div>
<div class="section white">
    <div class="row container">
    <h2 id="homeHeader" class="header">Simple Resume</h2>
    <h5 class="grey-text text-darken-3 lighten-3">Finding a job can be tough and overwhelming.  Creating a professional resume shouldnt have to be.  Let's not overthink it, lets start by keeping it Simple.</h5>
    <div class="col s2">
    <button id="signUpBtn" type="submit" class="btn cyan darken-4 waves-effect waves-red">Sign Up</button>
    </div>
    <div class="col s2">
    <button id="logInBtn" type="submit" class="btn cyan darken-4 waves-effect waves-red">Log In</button>
    </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/images/marten-bjork-6dW3xyQvcYE-unsplash.jpg"></div>
</div>

<script type="text/javascript">
  $(document).ready(() => {
    $('.parallax').parallax();
  });

  $("#signUpBtn").on("click", function() {
    window.location.replace("/signup");
  });

  $("#logInBtn").on("click", function() {
    window.location.replace("/login");
  });
</script>