<ul id="dropdown1" class="dropdown-content">
  <li><a class="waves-effect waves-red" href="/logout">Logout</a></li>
  {{!-- <li><a href="/index">Dashboard</a></li> --}}
  {{!-- <li><a href="#!">three</a></li> --}}
</ul>
<nav>
  <div class="nav-wrapper cyan darken-4">
    <img id="nav-logo-image" src="/images/logoTwoColor.png">
    <a href="/members" id="nav-title" class="brand-logo"> Simple Resume</a>
    <ul id="nav-mobile" class="right ">
      <li><a class="hide-on-small-only waves-effect waves-red" href="/logout">Logout</a></li>
      <li><a class="dropdown-trigger hide-on-med-and-up" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right"></i></a></li>
    </ul>
  </div>
</nav>
        

<div class="container">
  <div class="row">
    <div class="col s6">
      <h2>Welcome <span class="member-name"></span>!</h2>

        </div>
          <div class="col">
            <br>
            <br>
          <button class="btn-large cyan darken-4 waves-effect waves-red" id="generateResumeBtn">GENERATE A NEW RESUME!</button>
         </div> 
  
  </div>
 
  <div class="row">
    <div class="col s12 m12 l6">
      <div id="userinfo">
        {{> userInfo }}
      </div>
    </div>
    <div id="addUserinfo">
      {{> addUserInfo }}
    </div>
    <div class="col s12 m12 l6">
      <div id="jobHist">
        {{> jobHistory }}
      </div>
    </div>
    <div id="editJobinfo">
      {{> editJobHist }}
    </div>
  </div>
</div>

<script type="text/javascript" src="js/members.js"></script>