<nav>
    <div class="nav-wrapper indigo">
        <a href="#" class="brand-logo">Simple Resume Generator</a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Login Form</h2>
            <form class="login">
                <div class="input-field">
                    <input type="text" class="validate" id="email-input">
                    <label class="active" for="email">Email address</label>
                </div>
                <div class="input-field">
                    <input type="password" class="validate" id="password-input">
                    <label class="active" for="password">Password</label>
                </div>
                <button type="submit" class="btn indigo">Login</button>
            </form>
            <br />
            <p>Or sign up <a href="/">here</a></p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>