<nav>
    <div class="nav-wrapper cyan darken-4">
        <img id="nav-logo-image" src="/images/logoTwoColor.png">
        <a href="/members" id="nav-title" class="brand-logo"> Simple Resume</a>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Login Form</h2>
            <form class="login">
                <div class="input-field">
                    <input type="text" class="validate" id="email-input">
                    <label class="active" for="email">Email address</label>
                </div>
                <div class="input-field">
                    <input type="password" class="validate" id="password-input">
                    <label class="active" for="password">Password</label>
                </div>
                <button type="submit" class="btn cyan darken-4 waves-effect waves-red">Login</button>
            </form>
            <br />
            <p>Or sign up <a href="/">here</a></p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>