<nav>
  <div class="nav-wrapper cyan darken-4">
    <img id="nav-logo-image" src="/images/logoTwoColor.png">
    <a href="/members" id="nav-title" class="brand-logo"> Simple Resume</a>
  </div>
</nav>
<div class="container">
  <h2>Sign Up Form</h2>
  <form class="signup">
    <div class="row">
    <div class="input-field col s6">
      <input id="first-name" type="text" class="validate">
      <label class="active" for="first-name">First Name</label>
    </div>
        <div class="input-field col s6">
      <input id="last-name" type="text" class="validate">
      <label class="active" for="last-name">Last Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="email-input" type="text" class="validate">
      <label class="active" for="email">Email Address</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="password-input" type="text" class="validate">
      <label class="active" for="password">Password</label>
    </div>
        <div class="input-field col s6">
      <input id="location-input" type="text" class="validate">
      <label class="active" for="location">Location (City or Zipcode)</label>
    </div>
  </div>
  <div class="row">
    <div class="col s2">
    <button type="submit" class="btn cyan darken-4">Sign Up</button>
    </div>
    <p>Or log in <a href="/login">here</a></p>
    </div>
 </form>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>